---
import { Image } from "astro:assets";
import astroLogo from "/src/images/astro-logo.png";
import { maxRating } from "../contants";
import { getEntries } from "astro:content";
import Tag from "./Tag.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  toolEntry: CollectionEntry<"tool">;
}

const { toolEntry } = Astro.props;
const { name, created, links, rating, tags } = toolEntry.data;

const tagEntries = await getEntries(tags);
---

<div>
  <div class="flex flex-row gap-4">
    <div class="min-w-[200px] w-[15vw] aspect-square bg-black flex rounded-lg">
      <Image src={astroLogo} alt="Astro logo" class="object-contain" />
    </div>
    <div>
      <h2 class="text-5xl mb-3">{name}</h2>
      <div class="flex gap-2">{tagEntries.map((tagEntry) => <Tag tagEntry={tagEntry} />)}</div>
      <p class="text-yellow-500 text-xl">{"★".repeat(rating) + "☆".repeat(maxRating - rating)}</p>
      <div class="flex text-sm contrast-100 gap-2">
        {links.map(([text, href]) => <a href={href}>{text}</a>)}
      </div>
      <p class="text-sm contrast-100">Added on: {created.toISOString().split('T')[0]}</p>
    </div>
  </div>
  <div>
    <h3 class="text-2xl mb-2 mt-5">Description</h3>
    <p>This tool allows you to do X.</p>
    <h3 class="text-2xl mb-2 mt-5">Notes</h3>
    <p>It is a great tool for achieving Y. I do not like it for Z.</p>
  </div>
</div>